@import url(https://fonts.googleapis.com/css?family=Roboto|Raleway);

.container {
    padding: 10px;
    margin: 20px;
}

#converter {
    text-align: center;
}

#convert {
    border-radius: 10%;
}

#arabic {
    text-align: center;
    margin: 5px;
    padding: 4px;
    font-size: 20px;
    max-width: 200px;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
